package require platform

package ifneeded @PACKAGE_NAME@ @PACKAGE_VERSION@ \
    "[list load [file join $dir [platform::generic] @PKG_LIB_FILE@] @PACKAGE_NAME@] ;
        [list source [file join $dir csv.tcl]]"
