name: mac

on:
  workflow_dispatch:
    inputs:
      tcl-tags:  # User input for selecting Tcl tag
        description: 'Tcl version'
        required: true
        type: choice
        options:
          - '["core-9-0-0"]'
          - '["core-9-0-1"]'
          - '["core-8-6-10"]'
          - '["core-8-6-16"]'
          - '["main"]'
          - '["core-8-6-branch"]'
          - '["core-8-6-10", "core-9-0-0"]'
          - '["core-8-6-10", "core-8-6-16", "core-9-0-0", "core-9-0-1"]'
        default: '["core-8-6-10", "core-9-0-0"]'
      runners:  # User input for selecting OS
        description: 'OS version'
        required: true
        type: choice
        options:
          - '["macos-latest"]'
          - '["macos-13"]'
          - '["macos-14"]'
          - '["macos-13", "macos-14"]'
        default: '["macos-12", "macos-13", "macos-14"]'
      run-tests: # Whether tests should be run
        description: 'Run tests as well'
        required: false
        default: true
        type: boolean

jobs:
  build:
    strategy:
      matrix:
        runner-os: ${{ fromJSON(github.event.inputs.runners) }}
        tcl-tag: ${{ fromJSON(github.event.inputs.tcl-tags) }}
    runs-on: ${{ matrix.runner-os }}

    steps:

    - name: Setup Tcl
      id: tcl-setup-step
      uses: apnadkarni/tcl-setup@v1
      with:
        tcl-tag: ${{ matrix.tcl-tag }}

    - name: Build extension
      id: tcl-build-step
      uses: apnadkarni/tcl-build-extension@v1
      with:
        run-tests: ${{ inputs.run-tests }}

